html{
    height: 100%;
}

.body1 {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: url(img/home.jpg);
    background-size: cover;
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.first{
    display: inline-block;
    position:absolute;
    left: 3%;
    top: 5%;
    width: 50px;
    text-align: center;
    height: 50px;
}

.first img{
    width: 36px;
    margin: 0%;
    padding: 0%;
}

.first h5{
    margin: 0%;
    padding: 0%;
    line-height: 7px;

}

.second{
    width: 50%;
    margin: 3% auto;
    text-align: center;
    font-size: 20px;
}

.mid{
     text-decoration: none;
     color: black;
     display: inline-block;
     width: 25%;
     border:white;
     border-radius: 8px;
     padding: 14px;

 }
 #mid1{
     padding-right: 31px;
 }

.btn{
    display: block;
    width: 63%;
    margin: 0.7% auto;
    font-size: 20px;

    cursor: pointer;
    background-color:rgba(0,0,0,0.1);
}
button{
    display: inline-block;
    border: rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 15px;
}
.mid:hover{
    text-decoration: underline;
    color: rgb(62, 15, 190);
    background-color: rgba(0,0,0,0.1);
}

button:hover{
    text-decoration: underline;
    color: rgb(62, 15, 190);
}

.body2 {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: url(img/project.jpg);
    background-size: cover;
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.container1{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 46px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px #333333;
    padding: 5px;
    border-radius: 20px;
}

.container1 .head1{
    border-radius: 10px;
    padding: 6px;
    width: 28%;
    margin: auto;
    margin-bottom: 15px;
    color: white;
    background-color:rgba(0,0,0,0.1);
    text-decoration: underline;
}

.container1 .head2{
    border-radius: 10px;
    padding: 6px;
    width: 40%;
    margin: auto;
    color: white;
    background-color:rgba(0,0,0,0.1);
    text-decoration: underline;
}

li{
    list-style: none;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    color: white;

}

.body3 {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: url(img/contact.jpg);
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.contact img{
    width: 36px;
    filter: invert(100%);
}

.contact p{
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    margin-top: 5px;
}

.style{
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.container{
    display: inline-block;
    margin-left: 10%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    color: white;
}

h1, h2{
    text-decoration: underline;
}
